@model NurseryExample3.Models.NurseryProduct
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<ul>
    <li><b>Category: </b>@Model.NurseryCategory </li>
    <li><b>Price: </b>@Model.Price </li>
    <li><b>Description: </b>@Model.Description </li>
    @*<li><b>Availability: </b>@Model.isAvailability</li>*@
</ul>

